.banner{
    --bannerImageOffserY: 24px;

    padding-block: --bannerImageOffserY;

    @include tablet{
        --bannerImageOffserY: 0;
    }

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-gray;
        border-radius: $border-radius-large;
    }

    &__body{
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 26px;
        padding: 60px;

        @include tablet{
            padding: 50px;
        }
        
        @include mobile{
            row-gap: 20px;
        }
    }

    &__image{
        margin-block: calc(--bannerImageOffserY * -1);

        @include tablet{
            max-width: 40%;
            height: auto;
        }
    }

    &__description{
        max-width: 500px;
    }
}