.button{
    @include flex-center(true);


    height: $button-heigth;
    padding-inline: 35px;
    font-size: 20px;
    color: $color-white;
    background-color: $color-dark;
    border: $border;
    border-radius: $border-radius;


    @include hover{
        color: $color-dark;
        background-color: $color-green;
    }

    &--transparent{
        color: $color-dark;
        background-color: transparent;
    }

    &-green{
        color: $color-dark;
        background-color: $color-green;

        @include hover{
            color: $color-green;
            background-color: $color-dark;
        }
    }
}