.field{
    --fieldInputHeight: 59px;
    --fieldInputTextColor: #191A23;
    --fieldInputBgColor: #ffffff;
    --fieldInputBorderColor: #191A23;
    --fieldInputPlaceholderColor: #898989;
    --fieldInputHoverBgColor: #B9FF66;



    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;

    @include mobile{
        row-gap: 10px;
    }

    &--big-height{
        --fieldInputHeight: 68px;
    }

    &--dark-bg{
        --fieldInputTextColor: #ffffff;
        --fieldInputBgColor: #191A23;
        --fieldInputBorderColor: #ffffff;
        --fieldInputPlaceholderColor: #ffffff;
        --fieldInputHoverBgColor: #191A23;
        
    }

    &__label{
        @include fluid-text(14, 16);
    }

    &__input{
        width: 100%;
        height: var(--fieldInputHeight);
        color: var(--fieldInputTextColor);
        background-color: var(--fieldInputBgColor);
        padding-inline: 30px;
        border: 1px solid var(--fieldInputBorderColor);
        border-radius: $border-radius;

        @include hover{
            background-color: var(--fieldInputHoverBgColor);
        }

        @include mobile{
            padding-inline: 20px;
        }

        &:focus{
            background-color: $color-green;
            outline: none;
        }

        &::placeholder{
            color: var(--fieldInputPlaceholderColor);
        }

        &--textarea{
            height: 190px;
            padding-block: 18px;
            resize: none;

            @include mobile{
                height: 132px;
            }
        }
    }
}