.pagination{
    &__list{
        display: flex;
    }

    &__button{
        @include reset-button;
        @include flex-center;
        @include square(24px);

        color: $color-white;

        @include hover{
            color: $color-green;
        }

        &.is-current{
            color: $color-green;
        }
    }
}
