.radio{
    display: flex;
    align-items: center;
    column-gap: 14px;
    transition-duration: $transition-duration;

    @include hover{
        opacity: 0.7;
    }

    &__input{
        &:not(:checked) + .radio__emulator::after{
            opacity: 0;
        }
    }

    &__emulator{
        @include flex-center;
        @include square(28px);

        position: relative;
        background-color: $color-white;
        border: $border;
        border-radius: 50%;

        &::after{
            @include abs-center;
            @include square(60%);

            content: '';
            background-color: $color-green;
            border-radius: inherit;
            transition-duration: $transition-duration;
        }
    }
}